.header_img-bar {
    background-image: url(/img/62215379-viski.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100%;

}

@media(max-width:482px) {
    .header_img-bar {
        background-image: url(/img/1633827369_50-pro-dachnikov-com-p-stakan-viski-so-ldom-foto-58\ \(1\).jpg);
        background-size: 109% 100%;
    }
}

@media(max-width:345px) {
    .header_img-bar {
        background-image: url(/img/1633827369_50-pro-dachnikov-com-p-stakan-viski-so-ldom-foto-58\ \(1\).jpg);
        background-size: 141% 100%;
    }
}